<h1>Add a New Bowling Bag</h1>

<form action="/bags" method="POST">
  <label> Bowling Bag Name </label>
  <input type="text" name="name"> </br>

  <label> Bowling Bag Capacity </label>
  <input type="number" name="capacity"> </br>

  <input type="submit" value="Create">
</form>